.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.main-div {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hiden;
}

.game-board-inner
{
  height: 300px;
  display: grid;
  grid-template-rows: repaeat(6,1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.game-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.game-box {
  background-color: #ffffff;
  border: 2px solid #301ad1;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: black;
  user-select: none; 
}

.game-keyboard {
  height: 200px;
}

.game-board-inner .keyboard-key {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 3px 0 3px;
  height: 60px;
  cursor: pointer;
  user-select: none;
  color: dark-grey;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-key {
  margin-right: 2px;
  margin-bottom: 2px;
}

.info_image {
  width: 470px;
  height: 400px;
}